@model ReservationSystem.DATA.EF.Room

@{
    ViewBag.Title = "Delete";
}

<div class="home">
    <div class="background_image" style="background-image:url(../../Content/images/about.jpg)"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">Delete @Model.RoomType</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br />
    <h3>Are you sure you want to delete @Model.RoomType at @Model.Location.LocationName?</h3>
    <div>
        <h4>Room</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoomDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaxOccupancy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxOccupancy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomPhoto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomPhoto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomsAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomsAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomsTaken)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomsTaken)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.LocationName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    @if (ViewBag.Error == null)
                    {
                        <div class="col-md-9 col-lg-10">
                            <input type="submit" value="Delete" class="button button_1" />
                            <br /><br />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-9 col-lg-10">
                            <h4 style="color: #ffa37b;">@ViewBag.Error<h4/>
                            <br /><br />
                        </div>

                    }
                    <div class=" col-md-3 col-lg-2">
                        <div class="button button_4"><a href="@Url.Action("Details", "Rooms", new { id = Model.RoomId })">Back to Room</a></div>
                        <br /><br />
                    </div>
                </div>
            </div>
        }
    </div>
</div>