
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The River - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The River template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.3.4/animate.css">
    <link href="~/Content/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo"><a href="@Url.Action("Index", "Home")">The River</a></div>
                <div class="ml-auto d-flex flex-row align-items-center justify-content-start">
                    <nav class="main_nav">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Rooms")">Rooms</a></li>
                            @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                            {
                                <li><a href="@Url.Action("Index", "UserFamilyMembers")">Family</a></li>
                            }
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                            }
                            @if (Request.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                            }
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="book_button"><a href="@Url.Action("Login", "Account")">Login</a></div>
 

                    <!-- Hamburger Menu -->
                    <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu trans_400 d-flex flex-column align-items-end justify-content-start">
            <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="menu_content">
                <nav class="menu_nav text-right">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Rooms")">Rooms</a></li>
                        @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                        {
                            <li><a href="@Url.Action("Index", "UserFamilyMembers")">Family</a></li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                        }
                        @if (Request.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                        }
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>



        @RenderBody()


        <!-- Footer -->

        <footer class="footer">
            <div class="footer_content">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_logo_container text-center">
                                <div class="footer_logo">
                                    <a href="@Url.Action("Index", "Home")"></a>
                                    <div>The River</div>
                                    <div>since 1945</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row footer_row">

                        <!-- Address -->
                        <div class="col-lg-4">
                            <div class="footer_title">Our Address</div>
                            <div class="footer_list">
                                <ul>
                                    <li>Beach Str. 345</li>
                                    <li>67559 Miami</li>
                                    <li>USA</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Reservations -->
                        <div class="col-lg-4">
                            <div class="footer_title">Reservations</div>
                            <div class="footer_list">
                                <ul>
                                    <li>Tel: 345 5667 889</li>
                                    <li>Fax; 6783 4567 889</li>
                                    <li>reservations@hotelriver.com</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer images -->
                        <div class="col-lg-4">
                            <div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
                                <div class="cert"><img src="~/Content/images/cert_1.png" alt=""></div>
                                <div class="cert"><img src="~/Content/images/cert_2.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </footer>
    </div>

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>
    <script src="~/Content/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/Content/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/plugins/jquery-datepicker/jquery-ui.js"></script>
    <script src="~/Content/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/Content/js/custom.js"></script>
</body>
</html>


@RenderSection("scripts", required: false)